.vim/tmp
.vim/.netrwhist
downloads
images
sketchbook
yuri-rage.github.io
.ICEauthority
.Xauthority
.arduino/
.bash_history
.bash_logout
.bash_profile
.cache/
.config/Thunar/
.config/Trolltech.conf
.config/catfish/
.config/chromium/
.config/dconf/
.config/fontconfig/
.config/gtk-2.0/
.config/gtk-3.0/
.config/pulse/
.config/vlc/
.config/volumeicon/
.config/xfburn/
.config/xfce4/
.dbus/
.dmrc
.gem/
.gimp-2.8/
.gitconfig
.gmrun_history
.gstreamer-0.10/
.gtkrc-2.0
.histfile
.icons/
.java/
.lesshst
.local/
.mplayer/
.npm/
.openshot/
.pki/
.python_history
.ssh/
.subversion/
.teensy
.thumbnails/
.viminfo
.w3m/
.xbmc/addons/
.xbmc/media/
.xbmc/temp/
.xbmc/userdata/Database/
.xbmc/userdata/LCD.xml
.xbmc/userdata/RssFeeds.xml
.xbmc/userdata/Thumbnails/
.xbmc/userdata/addon_data/
.xbmc/userdata/guisettings.xml
.xbmc/userdata/keymaps/Joystick.AppleRemote.xml
.xbmc/userdata/profiles.xml
.xbmc/userdata/sources.xml
.xsel.log
.xsession-errors
.xsession-errors.old
.zcompdump
.zcompdump-vorlauf-arch-5.0.5
.zsh-update
.zsh_history
.config/zsh/MIT-LICENSE.txt
.config/zsh/README.textile
.config/zsh/lib/
.config/zsh/log/
.config/zsh/oh-my-zsh.sh
.config/zsh/plugins/
.config/zsh/templates/
.config/zsh/themes/
.config/zsh/tools/
.oh-my-zsh
