[Unit]
Description=Hourly check for Arch updates

[Timer]
OnCalendar=hourly
Persistent=true
Unit=updates-available.service

[Install]
WantedBy=multi-user.target
